<!-- <table class="list"> -->
<!--  <tr> -->
<!--   <th>フレーム単位の画像</th> -->
<!--  </tr> -->
<!--  <% -->
<!--  @files.each_with_index{|fname, i| -->
<!--  trclass = ["odd", "even"][i.modulo(2)] -->
<!--  %> -->
<!--  <tr class="<%=trclass%>"> -->
<!-- <\!--   <td><%=fname%></td> -\-> -->
<!--   <td><img src="<%=fname%>"></td> -->
<!--  </tr> -->
<!-- <% } %> -->
<!-- </table> -->
