<h1><%=header%></h1>

<div class="contents">
<table>
 <tr>
  <th>データリスト</th>
 </tr>
 <%
 @fileinfo.each_with_index{|@info, i|
 trclass = ["odd", "even"][i.modulo(2)]
 %>
 <tr class="<%=trclass%>">
  <td class="title"><a href="<%=base_filename%>"><%=@info[:title]%></a></td>
 </tr>
<% } %>
</table>
[<a href="../"> 戻る </a>]
</div>
