<h1><%=header%></h1>
<div class="contents">

<a href="<%=detail_filename(@curno)%>">戻る</a>
<p>

<%
@files.each_with_index{|fname, i|
%>
<a href="<%=fname%>"><img src="<%=fname%>" width="160"></a>
<% } %>
</div>
